.tags{
    border: 1.5px solid var(--mainColor);
    padding: 2px 5px;
    color: var(--mainColor);
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
}
.service{
    border: 1.5px solid #ff007758;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    background: #ff007715;
}

.icon-color{
    color: var(--mainColor);
}
